body {
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(70,248,252,1) 100%);
}

.selection {
    display: grid;
    grid-template-rows: 0.5fr 2fr;
    width: 400px;
    height: 400px;
    background-color: rgb(255, 255, 255,0.1);
    margin-left: 450px;
    margin-top: 70px;
    border-radius: 15px;
    justify-content: center;
    transition: transform 250ms;
}

.selection:hover {
    transform: translateY(-10px);
}

.btn1 {
    background-color: white;
    opacity: 0.2;
    width: 200px;
    height: 75px;
    margin-top: 10px;
    border-radius: 40px;
    margin-top: 20px;
    transition: transform 250ms;
}

.btn1:hover {
    transform: scale(1.1)
}

.btn2 {
    background-color: white;
    opacity: 0.2;
    width: 200px;
    height: 75px;
    border-radius: 40px;
    margin-bottom: 20px;
    transition: transform 250ms;
}

.btn2:hover {
    transform: scale(1.1)
}

.icon {
    width: 170px;
    height: 170px;
    margin-top: 20px;
    border-radius: 40px;
}